<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link
      rel="stylesheet"
      href="/Admin/assets/styles/bootstrap-5.3.3-dist/css/bootstrap.css"
    />
  </head>
  <body>
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-6 d-none d-md-block">
          <img src="/Admin/resourses/EC.jpg" width="100%" alt="" />
        </div>
        <div class="col-md-4 col offset-1">
          <form action="">
            <h3>Log in as Admin</h3>
            <p>Enter your details below</p>
            <input
              class="form-control"
              type="text"
              id="loginEmail"
              placeholder="Email"
              required
            />
            <br />
            <input
              class="form-control"
              type="password"
              id="loginPassword"
              placeholder="Password"
              required
            />
            <br />
            <div class="container">
              <div class="row justify-content-center">
                <button type="submit" id="loginBtn" class="col-6 btn btn-danger text-white">
                  Log in
                </button>
                <!-- <div class="col-5">
                  <a class="loginLink" href=""> Forget password?</a>
                </div> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="/Admin/assets/styles/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script type="module" src="/Admin/assets/js/firebase/login.js"></script>
  </body>
</html>
